body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}
/* ---variablesDeclaration------- */
:root {
    --primary-color: #222;
    --secondary-color: #1e1e1e;
    --color-Text: #c96d5b;
    --color-text2: #fff;
}


/* ------header---------- */
.header--tittle{
    width: 100vw;
    height: 100vh;
    background: var(--primary-color);
    color: var(--color-Text);
    
}

.header--presentation {
    width: 700px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header--presentation h3 {
    font-size: 1.6rem;
}

.header--presentation h1, h3 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.header--presentation img {
    width: 400px;
}

.header--presentation button {
    padding: 10px 20px;
    margin-top: 50px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(255, 255, 255, 0.1);
    background-color: var(--secondary-color);
    border: none;
    border-radius: 4px;
    color: var(--color-Text);
    font-weight: bold;
}

.header--presentation button:hover{
    background-color: var(--color-Text);
    color: var(--color-text2);
    transition: .1s ease-in;
}


/* ------main content---------------- */

.main--content{
    width: 100vw;
    height: 100%;
    background-color: var(--secondary-color);
}

/* ----------aboutMe---------------------- */
.main--content-aboutMe{
    width: 650px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    position: relative;
    font-size: 1.5rem;
    /* background-color: var(--secondary-color); */
}

.main--content-aboutMe h2 {
    font-size: 50px;
    position: absolute;
    top: 10px;
    left: 190px;
    color: var(--color-Text);
}

.main--content-aboutMe p {
    color: var(--color-text2);
    text-shadow: 1px 1px 2px #333;
}

.main--content-aboutMe img{
    width: 100px;
    position: relative;
    bottom: -60px;
    left: 250px;
}



/* ------------proyects------------------- */

.main--content-proyects{
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 50px;
    background-color: var(--primary-color);
}
.main--content-proyects h2{
    color: var(--color-Text);
    font-size: 40px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.content-proyects-links{
    position: relative;
    width: 300px;
    height: 200px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.3);
    border: 5px;
}
.content-proyects-links a img {
    width: 100%;
    height: 100%;
    background-size: cover;
    display: block;
}

/* ------------text with z-index-------------------- */
.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
    font-weight: bold;
    z-index: 1;
    text-shadow: 2px 2px 4px rgba(0, 0, 0,0.7);
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
    opacity: 0; 
    transition: opacity 0.3s ease; 
    
    
  }
  .overlay-text.show {
    opacity: 1;}



/* ------------footer----------- */
.footer--content{
    background-color: var(--secondary-color);
    color: var(--color-Text);
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
}
.footer--content-button button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(255, 255, 255, 0.1);
    background-color: var(--color-Text);
    border: none;
    border-radius: 4px;
    color: var(--color-text2);
    font-weight: bold;
}

.footer--content-social{
    display: flex;
}

.footer--content-social .footer--social-container-icon{
    width: 30px;
}
